/* || Global */

* {
  box-sizing: border-box;
}

html {
  font-family: "Rubik", sans-serif;
  font-size: 137.5%;
  -webkit-font-smoothing: antialiased;
  background-image: linear-gradient(to right top, #7a08d5, #7007c3, #6607b2, #5d06a1, #530690, #4a0988, #420a7f, #3a0b77, #300e74, #241071, #16116e, #01126b);
  scroll-behavior: smooth;
}

/* || Page container */

@media (min-width: 300px) and (max-width: 500px) {
  #container {
    width: 90%;
    margin: 0 auto;
  }
}

@media (min-width: 501px) and (max-width: 800px) {
  #container {
    width: 85%;
    margin: 0 auto;
  }
}

@media (min-width: 801px) {
  #container {
    width: 75%;
    max-width: 1000px;
    margin: 3rem auto;
    display: grid;
    grid-gap: 0rem;
    grid-template-columns: 0.45fr minmax(10px, 1fr);
  }

  aside {
    margin-right: 2rem;
  }

  #title {
    margin-bottom: 1rem;
    grid-column: auto / span 3;
  }

}

/* || Sections */

section {
  padding-bottom: 16px;
}

.sticky {
  position: sticky;
  top: 0;
}

.CTA {
  padding: 1rem 0rem 0rem 0rem;
}

.spacer {
  width: 12px;
}

#footer img {
  padding-right: 16px;
  vertical-align: middle;
}

/* || Typography */

h1 {
  color: #73E600;
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: rgba(7, 102, 35, 0.91);
  font-family: "Rubik Glitch";
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

h2 {
  color: #73E600;
  font-size: 1.3rem;
  font-weight: 700;
  margin-top: 0.5rem;
}

h3 {
  color: #73E600;
  font-size: 1.414rem;
}

h4 {
  color: white;
  font-size: 1rem;
  margin: 0;
  font-weight: 500;
  line-height: 1.6rem;
}

h5 {
  color: #CDFF9C;
  font-size: 1rem;
  font-weight: 900;
  margin-block-start: 1.5rem;
  margin-block-end: 0rem;
  text-transform: uppercase;
}

h6 {
  color: white;
  font-size: 0.8rem;
  font-weight: 500;
  margin: 0;
  line-height: 1.2rem;
}

p {
  color: white;
  font-family: Rubik;
  font-size: .8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2rem;
}

a {
  color: #CDFF9C;
}

a:hover {
  color: #73E600;
}

/* || Lists */

ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin-top: 0;
}

li {
  padding-bottom: 10px;
}

/* || Links */

.nav-link {
  color: #CDFF9C;
  font-family: "Rubik", sans-serif;
  font-weight: 800;
  text-decoration: none;
}

.nav-link:hover {
  color: #73E600;
}


/* || Buttons */

.button {
  width: 10rem;
  /* background-color: #CDFF9C; */
  border-style: none;
  border-radius: 8px;
  color: #000000;
  border-color: #CDFF9C;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  height: 40px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 0.35em 1em;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 16px;
  margin-bottom: 8px;
}

.button:hover,
.button:focus {
  background-color: #73E600;
}


/* || Misc */

hr {
  border: 0.5px solid;
  color: #CDFF9C;
}
