# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Tech Workers Coalition
email: hello@techworkersco.org
description: A coalition of tech industry workers, labor organizers, community organizers, and friends cultivating solidarity among all workers in tech.
url: "https://techworkerscoalition.org" # the subpath of your site, e.g. /blog
baseurl: "" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: techworkersco

# Build settings
plugins:
  - jekyll-feed
  - jekyll-multiple-languages-plugin

jekyll_get_data:
  - data: collective-actions
    url: "https://raw.githubusercontent.com/collective-action/tech/master/actions.json"
  - data: berlin_press
    url: "https://raw.githubusercontent.com/techworkersco/twc-site-berlin/develop/_data/press.yml"

exclude:
  - .jekyll-cache/
# also update index.md
languages: ["en", "es", "fr", "it", "pt", "ru"]
defaults:
  - scope:
      path: ""
    values:
      # unless languages: ["bl" "ah"] is included, english is only/default frontmatter language
      languages: ["en"]

exclude_from_localizations: ["assets"]
links:
  - url: /chapters
    text: Join a Chapter
  - url: /subscribe
    text: Join the Slack
  - url: /community-guide/
    text: Community Guide
  - url: /press
    text: Press
  - url: /security
    text: Security Tips
  - url: https://news.techworkerscoalition.org/subscribe/
    text: Newsletter
  - url: https://sites.google.com/view/tech-workers-coalition/learning-club
    text: Learning Clubs
    newTab: true
  - url: https://collectiveaction.tech/
    text: CollectiveActions.Tech
    newTab: true
sass:
  style: compressed

port: 8090
