# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Tech Workers Coalition
email: hello@techworkerscoalition.org
description: A coalition of tech industry workers, labor organizers, community organizers, and friends cultivating solidarity among all workers in tech.
url: "https://techworkerscoalition.org" # the subpath of your site, e.g. /blog
baseurl: "" # the base hostname & protocol for your site, e.g. https://example.com
twitter_username: techworkersco
timezone: "America/New_York"

# Build settings
plugins:
  - jekyll-feed

# jekyll-feed plugin
feed:
  posts_limit: 20
  collections:
    - events
    - blog
    
jekyll_get_data:
  - data: berlin_press
    url: https://raw.githubusercontent.com/techworkersco/twc-site-berlin/develop/_data/press.yml
  - data: berlin_events
    url: https://techworkersberlin.com/events.yml
  - data: nl_events
    url: https://techwerkers.nl/en/twc-global/index.yaml
exclude:
  - .jekyll-cache/

defaults:
  - scope:
      path: ""
      type: "pages"
    values:
      namespace: :title
  - scope:
      path: ""
      type: "events"
    values:
      layout: "event"
  - scope:
      path: ""
      type: "blog"
    values:
      layout: "newsletter"

permalink: pretty
future: true
collections:
  blog:
    output: true
    permalink: blog/:year/:month/:day/:title/
  events:
    output: true
    permalink: events/:title/

exclude_from_localizations: ["assets", "admin"]
header_links:
  - url: /subscribe
    text: Join
  - url: /events
    text: Events
  - url: /circuit-breakers
    text: Circuit Breakers

links:
  - url: /subscribe
    text: Join
  - url: /circuit-breakers
    text: Circuit Breakers
  - url: /events
    text: Events
  - url: /blog
    text: Blog
  - url: /chapters
    text: Chapters
  - url: /community-guide
    text: Community Guide
  - url: /job-board
    text: Union Job Board
  - url: /press
    text: Press mentions
  - url: /security
    text: Security Tips
sass:
  style: compressed

port: 8090
