---
layout: default
permalink: /blog
---

<!-- {% assign author = site.data.authors[page.author] %} -->
<!-- Output author details if some exist. -->
<h1>Blog</h1>
<article class="post">
  <header class="post-header">
    <a href="/events">Read more articles</a>
    <h1 class="post-title">{{ page.title | escape }}</h1>
    {% assign author = site.data.authors[page.author] | default: site.data.authors['techworkersco'] %}
      <section class="l-stack -horizontal -space-large">
        {% if author.picture %}
          <img
            class="h-rounded"
            style="--circle-size: 4.5rem"
            src="{{author.picture}}"
            alt="{{author.name}}"
          />
        {% endif %}
        <div class="l-stack -vertical" style="--stack-spacing: 1rem">
          <div><b>{{ author.name }}</b></div>
          <time
            class="aside"
            datetime="{{ page.date | date: '%Y-%m-%d' }}"
            >
              {{ page.date | '%-d %B %Y' }}
          </time>
        </div>
        {% if page.translator %}
          <span> And translated by {{ page.translator }} </span>
        {% endif %}
      </section>
  </header>
  <div class="post-content">
    {{ content }}
  </div>
</article>
