<h2 class="txt-2">Collective Actions in Tech</h2>
<a href="https://collectiveaction.tech/">Full Archive</a>
{% assign actions = site.data.collective-actions | reverse %}
{% for action in actions | limit: 2 %}
  <div class="action">
    <h3>
      <a href="https://data.collectiveaction.tech/action/{{action.id}}">
        <b>{{action.companies | join ", " | capitalize }} –</b> <time datetime="{{ action.date | date: '%Y-%m-%d' }}">{{ action.date | date: '%-d %B %Y' }}</time>
      </a>
    </h3>
    <p>
      {{action.description}}
    </p>
  </div>

{% endfor %}
