<style>
    :root { 
    --light-pink: #dca0af;
    --pink: #D695A6;
    --light-blue: #27748E;
    --light-purple: #8c57cb;
    --mid-blue: #4944b8;
    --dark-blue: #1d3c98;
    } 
    #banner {
        padding: 12px;
        width: 100%;
        flex-wrap: wrap;
        margin-bottom: 8px;
        margin-left: 0;
        margin-right: 0;
        margin-top: 60px;
        width: 100%;
        background: var(--dark-blue);
        cursor: pointer;
        color: white;
        font-size: 18px;
        line-height: 1.5;
    }
    a:hover,a:visited {
        text-decoration-color: white;
    }
</style>
<a href="/circuit-breakers/">
    <div id="banner">
        <b>CIRCUIT BREAKERS</b> is a gathering for organizers and activists in the tech industry. Join us in New York in October 2025
    </div>
</a>