<style>
    #banner {
        padding: 12px;
        width: 100%;
        flex-wrap: wrap;
        margin-bottom: 8px;
        margin-left: 0;
        margin-right: 0;
        margin-top: 60px;
        width: 100%;
        background-image: linear-gradient(to right top, #7a08d5, #420a7f);
        cursor: pointer;
        color: white;
        font-size: 18px;
        line-height: 1.5;
    }
    a:hover {
        text-decoration-color: white;
    }
</style>
<a href="https://techworkerscoalition.org/circuit-breakers/"><div id="banner">
    <b>CIRCUIT BREAKERS: Agitate & Mobilize</b> is a gathering for organizers and activists in the tech industry. Join us in San Francisco in October →
</div>