{% assign berlin_events = site.data.berlin_events %}
{% assign events = site.events | concat: berlin_events | sort: 'date' | filter_tags: include.tags | reverse %}
{% assign future_events = events | where_exp: "event", "event.date >= site.time" %}

{% if page.permalink == "/events" %}
  <h1>Tech Worker Events</h1>
  Explore all <b>{{ events.size }}</b> public events we organized
{% else %}
  <a href="/events">{% t home.events.more %}</a>
{% endif %}

{% assign has_future_events = include.limit and future_events.size > 0 %}
{% assign earliest_year = events.last.date | date: "%Y" %}
{% assign latest_year = events.first.date | date: "%Y" %}
{% assign date = nil %}

{% if has_future_events %}
  {% for event in future_events reversed limit: include.limit %}
    {% include event-card.html %}
  {% endfor %}
{% else %}
  {% for event in events limit: include.limit %}
    {% assign current_year = event.date | date: "%Y" %}
    {% if current_year != date %}
      {% unless current_year == latest_year %}
        </div></h2>
      {% endunless %}
<h2 class="tab">
  <input type="checkbox" name="accordion-1" id="year-{{ current_year }}">
  <label for="year-{{ current_year }}" class="tab__label">{{ current_year }} - Events</label>
  <div class="tab__content">
      {% assign date = current_year %}
    {% endif %}
    {% include event-card.html %}
    {% if forloop.last %}
      </div></h2>
    {% endif %}
  {% endfor %}
{% endif %}
