{% unless page.permalink == "/events" %}
  <a href="/events">{% t home.events.more %}</a>
{% endunless %}
{% assign events = site.events | filter_tags: include.tags | reverse %}
{% assign future_events = events | where_exp: "event", "event.date >= site.time" %}   

{% if include.limit and future_events.size > 0 %}
  {% for event in future_events reversed limit: include.limit  %}  
    {% include event-card.html %}
  {% endfor %} 
{% else %}  
  {% for event in events limit: include.limit  %}
    {% include event-card.html %}
  {% endfor %}
{% endif %}  
