{% assign berlin_events = site.data.berlin_events %}
{% assign nl_events = site.data.nl_events %}
{% assign events = site.events | concat: ical_events | concat: nl_events | concat: berlin_events | date_sort | filter_tags: include.tags %}
{% assign future_events = events | where_future: site.time %}
{% assign past_events = events | where_past: site.time %}

{% if page.url == "/events/" %}
  <h1>Events</h1>

  Explore all <b>{{ events.size }}</b> public events we organized
{% endif %}

{% assign show_future_events_only = include.limit and future_events.size > 0 %}
{% assign earliest_year = past_events.first.date | date: "%Y" %}
{% assign latest_year = past_events.last.date | date: "%Y" %}
{% assign render_year = nil %}

{% comment %} Home page typically only shows upcoming events in different order...or most recent past events {% endcomment %}
{% if show_future_events_only %}
  <h2 class="marg-b-2">Upcoming events</h2>
  {% for event in future_events limit: include.limit %}
    {% include event-card.html %}
  {% endfor %}
{% else %}
{% comment %} Determine title {% endcomment %}
  {% if future_events.size > 0 %}<h2>Upcoming events</h2>{% else %}<p>There are no upcoming events. Check back later!</p>{% endif %}
  {% for event in future_events limit: include.limit %}
    {% include event-card.html %}
  {% endfor %}
<h2>Past events</h2>
  {%- for event in past_events reversed limit: include.limit -%}
    {%- assign current_year = event.date | date: "%Y" -%}
    {%- if current_year != render_year -%}
      {% comment %} Add closing div tags except for current year {% endcomment %}
      {%- if render_year -%}
          </div>
        </div>
      {%- endif -%}
      {% comment %} HTML whitespace issues is why it's indented in weird way. Create H2 tags for each year {% endcomment %}
      <div class="tab">
        <input type="checkbox" name="accordion-1" id="year-{{ current_year }}">
        <label for="year-{{ current_year }}" class="tab__label"><h3>{{ current_year }}</h3></label>
        <div class="tab__content">
          {%- assign render_year = current_year -%}
    {%- endif -%}

    {% include event-card.html %}
    
    {%- comment -%} Add closing div tags for very last event {%- endcomment -%}
    {%- if forloop.last -%}
        </div>
      </div>
    {%- endif -%}
  {%- endfor -%}
{% endif %}

{% if page.url != "/events/" %}
<a href="/events" class="button">Find more events</a>
{% endif %}
