<footer class="secondaryBg">
  <div class="contain">
    <img
      alt=""
      role="presentation"
      aria-hidden="true"
      class="marg-b-2"
      height="40"
      src="/assets/img/logo.svg"
      width="40"
      id="logo-footer"
    />
    <ul class="d:flex flex-wrap d:flex-row list-style-none">
      {% for link in site.links %}
      <li class="d:c-1/3 marg-b-3 d:marg-r-3">
        {% if link.newTab %}
        <a
          target="_blank"
          class="noUnderline flex ai-ctr"
          rel="nofollow noopener noreferrer"
          href="{{ link.url }}"
        >
          <span class="marg-r-1 underline">{{link.text}}</span>
          {% include externalLinkSvg.html %}
        </a>
        {% else %}
        <a href="{{ link.url }}">{{link.text}}</a>
        {% endif %}
      </li>
      {% endfor %}
      <li>
        <a href="mailto:hello@techworkerscoalition.org">Email Us</a>
      </li>
    </ul>
  </div>
</footer>
