<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
  <style>
    {% capture styles %}
      {% include {{ "/assets/css/normalize.css" | prepend: site.baseurl_root }} %}
      {% include {{ "/assets/css/main.css" | prepend: site.baseurl_root }} %}
    {% endcapture %}
  </style>
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
  <link rel="shortcut icon" href="/assets/favicon2.png" type="image/x-icon">
  <link rel="icon" href="/assets/favicon2.png" type="image/x-icon">
  <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
