<header class="secondaryBg flex flex-row fixed w-full" role="banner">
  <div class="contain flex flex-row ai-ctr justify-between">
    <div class="flex flex-row ai-ctr">
      <img
        alt="TWC logo"
        aria-hidden="true"
        role="presentation"
        class="marg-r-2 m:hide"
        height="30"
        src="/assets/img/logo.svg"
        width="30"
	id="logo-header"
      />
      <h1 class="title">
        <a href="/">
          Tech <span class="black">Workers</span> Coalition
        </a>
      </h1>
    </div>

    <div class='flex flex-row ai-ctr'>
      <div class="flex flex-row ai-ctr rel marg-r-2">
        {% for link in site.header_links %}        
          <a href="{{link.url}}">
            <li class="desktop-header">{{link.text}}</li>
          </a>
        {% endfor %}     
        
        <div class="flex flex-row ai-ctr rel">
          <button class="flex" id="navBtn" role="button" aria-label="Open menu links">
            <svg aria-hidden="true" class="primarySvgFill" height='23' width='20'  fill="#fff" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve"><path d="M85.5,81.5h-70c-2.8,0-5-2.2-5-5v-4c0-2.8,2.2-5,5-5h70c2.8,0,5,2.2,5,5v4C90.5,79.3,88.3,81.5,85.5,81.5z   M85.5,57.5h-70c-2.8,0-5-2.2-5-5v-4c0-2.8,2.2-5,5-5h70c2.8,0,5,2.2,5,5v4C90.5,55.3,88.3,57.5,85.5,57.5z M85.5,33.5h-70  c-2.8,0-5-2.2-5-5v-4c0-2.8,2.2-5,5-5h70c2.8,0,5,2.2,5,5v4C90.5,31.3,88.3,33.5,85.5,33.5z"></path></svg>
          </button>
          
          <ul id="nav" class="navOverlay abs hide list-style-none" role="navigation">
            {% for link in site.links %}
              <li>
                <a href="{{ link.url }}">
                  {{link.text}}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
