@import "variables";

body {
  font-family: Helvetica Neue, HelveticaNeue, Helvetica, Arial, system-ui,
    -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
  letter-spacing: 0.03rem;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.grow-main {
  flex-grow: 1;
}

.underline {
  text-decoration: underline;
}

.noUnderline {
  text-decoration: none;
}

header {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  height: 60px;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9;

  a {
    text-decoration: none;
  }

  button {
    border: 0;
  }

  .desktop-header {
    margin-left:10px;
    background-color: #020e0f;
    color: $white;
    font-weight: bold;
    padding: 8px 18px;
    border-radius: 100px;
    list-style-type:none;

    @include mobile {
      display: none;
    }

    &:hover {
      background-color: red;
      fill: red;
    }

    a {
     color: $white; 
    }
  }

  #langBtn:hover {
    color:red;
    & .primarySvgFill {
      fill: red;
    }
  }
  
  li.mobile-links a {
    background: #020e0f;
    color: #fff;
    border: $black solid 1px;
    font-weight: bold;
  }  

  #navBtn {
    @include mobile and tablet {
      display: none;
    }
  }
}

.border {
  border: 1px solid #000;
}

.title {
  font-size: 21px;

  @include mobile {
    font-size: 16px;
  }
}

.bg-black {
  background: $black;
  color: $white;
}

.lh-1 {
  line-height: 1;
}

.lh-tight {
  line-height: 1.2;
}

.black {
  color: $black;
}

.black-important {
  color: $black !important;
}

.grey {
  color: $grey;
}

.red {
  color: $red;
}

.hide {
  display: none;
}

.m\:hide {
  @include mobile {
    display: none !important;
  }
}

.d\:hide {
  @include desktop {
    display: none !important;
  }
}

.abs {
  position: absolute;
}

.rel {
  position: relative;
}

.circ {
  border-radius: 50%;
}

button {
  background: 0;
  border: 1px solid;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  height: 25px;
  transition: background ease-in-out 0.3s;
}

.border-b-1 {
  border-bottom: 1px solid;
}

.m-0 {
  margin: 0;
}

.p-2 {
  padding: 8px;
}

.p-3 {
  padding: 1rem;
}

.white {
  color: $white;
}

.white-important {
  color: $white !important;
}

.hover\:white:hover {
  color: $white;
}

.navOverlay {
  border-radius: 4px;
  border: 0; // 1px solid;
  box-shadow: 1px 0 5px rgba(0, 0, 0, 0.2);
  overflow: scroll;
  right: 0;
  top: 55px;
  width: 240px;

  a {
    display: block;
    padding: 8px;
  }

  li {
    margin: 0;
    border-bottom: 1px solid;
    &:last-child {
      border: 0;
    }
  }
}

.contain {
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  width: 1000px;
}

ol,
ul {
  margin: 0;
  padding: 0 0 0 20px;

  li {
    margin-bottom: 8px;
  }
}

.list-style-none {
  list-style: none;
  padding: 0;
}

.marg-b-0 {
  margin: 0;
}

.marg-b-2 {
  margin-bottom: 8px;
}

.marg-b-3 {
  margin-bottom: 1rem;
}

.marg-b-4 {
  margin-bottom: 2rem;
}

.pad-l-3 {
  padding-left: 1rem; // 16px, we should just be consistent and use rem
}

.m\:marg-r-1 {
  @include mobile {
    margin-right: 4px;
  }
}

.marg-r-1 {
  margin-right: 4px;
}

.d\:marg-r-2 {
  @include desktop {
    margin-right: 8px;
  }
}

.m\:marg-r-2 {
  @include mobile {
    margin-right: 8px;
  }
}

.marg-r-2 {
  margin-right: 8px;
}

.marg-r-3 {
  margin-right: 1rem;
}

.d\:marg-r-3 {
  @include desktop {
    margin-right: 1rem;
  }
}

.uppercase {
  text-transform: uppercase;
}

.w-full {
  width: 100%;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.d\:flex {
  @include desktop {
    display: flex;
  }
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

.d:flex-row {
  @include desktop {
    flex-direction: row;
  }
}

.m\:flex-col {
  @include mobile {
    flex-direction: column;
  }
}

.d\:c-1\/3 {
  @include desktop {
    flex: 0 1 calc(33.33% - 1rem);
  }
}

.justify-between {
  justify-content: space-between;
}

.ai-ctr {
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.columns {
  display: flex;
  flex-wrap: wrap;
}

.columns .column {
  padding: 0 10px;
}

.column.is-1 {
  flex: 1;
}

.column.is-2 {
  flex: 2;
}

.column.is-3 {
  flex: 3;
}

main {
  max-width: 90%;
  padding: 80px 0;
}

footer {
  border-top: 1px solid;
  padding: 2rem 0;
}

.txt-1,
h1 {
  font-size: 2rem;
  @include mobile {
    font-size: 1.75rem;
  }
}

.txt-2,
h2 {
  font-size: 1.75rem;
  font-weight: 500;
  @include mobile {
    font-size: 1.5rem;
  }
}

.txt-3,
h3 {
  font-size: 1.5rem;
  font-weight: 500;
  @include mobile {
    font-size: 1.25rem;
  }
}

form {
  border-radius: 4px;
  padding: 1rem;
}

label {
  display: inline-block;
  font-weight: 500;
}

.highlight {
  background: yellow;
}

.justify-center {
  justify-content: center;
}

.clear {
  clear: both;
}

.climate-container img {
  display: inline-block;
  display: inline;
  max-width: 220px;
  padding: 10px 20px;
  vertical-align: top;
  zoom: 1.5;
}

.primaryBg {
  background: $grey2;
}
.secondaryBg {
  background: $grey;
}
.textColor {
  color: $white;
}

a {
  &:link {
    color: $red;
  }
  &:visited {
    color: $red;
  }
}

label {
  font-weight: inherit;

  @include mobile {
    width: 100%;
  }
}

input[type="email"],
input[type="text"],
input[type="url"] {
  border: 1px solid;
  border-radius: 4px;
  color: $grey;
  padding: 0.75rem;

  @include mobile {
    margin-bottom: 0.5rem;
    width: 100%;
  }
}

input[type="submit"] {
  border-radius: 4px;
  border: 0;
  font-weight: 500;
  margin-top: 20px;
  padding: 10px 20px;

  &:hover {
    background-color: $red;
  }
}

hr {
  border-top: 0;
}

.primarySvgFill {
  fill: $white;
}

#mce-EMAIL,
#mc-embedded-subscribe {
  letter-spacing: 0.03rem;
}

#mce-EMAIL {
  margin: 0 0.5rem 0 0;
}

#mc-embedded-subscribe {
  border: 0;
  height: 100%;
  padding: 0.75rem;
}

.press-icon {
  height: 40px;
  min-width: 40px;
  width: 40px;
}

@media (prefers-color-scheme: light) {
  .press-icon {
    fill: $black;
  }

  .bg-black {
    background-color: $grey3;
    color: $black;
  }
  .primarySvgFill {
    fill: $grey;
  }
  #mc-embedded-subscribe {
    background: $grey2;
    color: $white;
  }
  hr {
    border-bottom: 1px solid #ccc;
  }
  .navOverlay {
    background: $white;
    li {
      border-color: #ccc;
    }
  }
  footer {
    border-color: #ccc;
  }
  button,
  form {
    border-color: $grey3;
  }
  form {
    background-color: $grey3;
  }
  input[type="submit"] {
    background: $grey2;
    color: $white;
  }
  input[type="email"],
  input[type="text"],
  input[type="url"] {
    border-color: #ccc;
  }
  .primaryBg {
    background-color: $white;
  }
  .secondaryBg {
    background-color: $grey3;
  }
  .textColor {
    color: $grey2;
  }
  a {
    &:hover,
    &:focus {
      color: $grey;
    }
    &:active {
      color: $red;
    }
  }
}

@media (prefers-color-scheme: dark) {
  h2 a:link {
    color: $white;
  }
  .press-icon {
    fill: $red;
  }
  .border {
    border-color:$white;
  }
  #mc-embedded-subscribe {
    border-color: $grey;
  }
  hr {
    border-bottom: 1px solid $grey;
  }
  .navOverlay {
    background: $grey;
    li {
      border-color: $grey2;
    }
  }
  input[type="submit"] {
    background: $red;
    color: $white;
  }
  input[type="email"],
  input[type="text"],
  input[type="url"] {
    background: $grey2;
    border-color: transparent;
    color: $white;
  }
  .black {
    color: $white !important;
  }
  a {
    color: $red;
  }
  h1,
  h2,
  h3,
  h4 {
    color: $white;
  }
  a {
    &:hover,
    &:focus {
      color: $white;
    }
  }
  form {
    background-color: $grey;
  }
  footer {
    border-color: $grey2;
  }
}

.banner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.banner > div {
  flex-grow: 2;
  width: 75%;
  max-width: 75%;
}

.banner img {
  width: 100%;
  height: auto; // use this to display responsive image
}
