:root {
  color-scheme: light dark;

  --red: #d72b2b;
  --black: #020e0f;
  --white: #fff;
  --grey: #2e2e2e;
  --grey2: #191919;
  --grey3: #f6f6f6;
  --grey4: #777;

  --color-bg-primary: light-dark(var(--white), var(--grey2));
  --color-bg-secondary: light-dark(var(--grey3), var(--grey));
  --color-text: light-dark(var(--grey2), var(--white));

  --header-height: 60px;

  --font-family-base: Helvetica Neue, HelveticaNeue, Helvetica, Arial, system-ui,
    -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;

  --border-radius-s: 5px;
  --border-radius-m: 10px;

  --step--2: clamp(0.7813rem, 0.7736rem + 0.0341vw, 0.8rem);
  --step--1: clamp(0.9375rem, 0.9119rem + 0.1136vw, 1rem);
  --step-0: clamp(1.125rem, 1.0739rem + 0.2273vw, 1.25rem);
  --step-1: clamp(1.35rem, 1.2631rem + 0.3864vw, 1.5625rem);
  --step-2: clamp(1.62rem, 1.4837rem + 0.6057vw, 1.9531rem);
  --step-3: clamp(1.944rem, 1.7405rem + 0.9044vw, 2.4414rem);
  --step-4: clamp(2.3328rem, 2.0387rem + 1.3072vw, 3.0518rem);
  --step-5: clamp(2.7994rem, 2.384rem + 1.8461vw, 3.8147rem);

  --space-3xs: clamp(0.3125rem, 0.3125rem + 0vw, 0.3125rem);
  --space-2xs: clamp(0.5625rem, 0.5369rem + 0.1136vw, 0.625rem);
  --space-xs: clamp(0.875rem, 0.8494rem + 0.1136vw, 0.9375rem);
  --space-s: clamp(1.125rem, 1.0739rem + 0.2273vw, 1.25rem);
  --space-m: clamp(1.6875rem, 1.6108rem + 0.3409vw, 1.875rem);
  --space-l: clamp(2.25rem, 2.1477rem + 0.4545vw, 2.5rem);
  --space-xl: clamp(3.375rem, 3.2216rem + 0.6818vw, 3.75rem);
  --space-2xl: clamp(4.5rem, 4.2955rem + 0.9091vw, 5rem);
  --space-3xl: clamp(6.75rem, 6.4432rem + 1.3636vw, 7.5rem);
}

h1 {
  font-size: var(--step-3);
}
h2 {
  font-size: var(--step-2);
}
h3 {
  font-size: var(--step-1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 2;
}

@custom-media --desktop screen and (width >= 760px);
@custom-media --tablet screen and (width <= 760px);
@custom-media --mobile screen and (width <= 420px);

body {
  font-family: var(--font-family-base);
  font-size: var(--step-0);

  /* todo(maximsmol): get rid of this? */
  letter-spacing: 0.03rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  padding-top: calc(var(--header-height) + 20px);
}

.grow-main {
  flex-grow: 1;
}

.underline {
  text-decoration: underline;
}

.noUnderline {
  text-decoration: none;
}

header {
  box-shadow:
    0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.06);
  height: var(--header-height);
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9;

  font-size: var(--step--1);

  a {
    text-decoration: none;
  }

  button {
    border: 0;
  }

  #nav,
  #navBtn {
    @media (--desktop) {
      display: none;
    }
  }
}

.desktop-header {
  margin-left: 10px;
  font-weight: normal;
  padding: 4px 14px;
  border-radius: 100px;
  list-style-type: none;

  @media (--tablet) {
    display: none;
  }
}

.border {
  border: 1px solid #000;
}

.title {
  font-size: var(--step-0);
  white-space: pre;
}

.lh-1 {
  line-height: 1;
}

.lh-tight {
  line-height: 1.2;
}

.black {
  color: var(--black);
}

.black-important {
  color: var(--black) !important;
}

.grey {
  color: var(--grey);
}

.red {
  color: var(--red);
}

.hide {
  display: none;
}

.mobile-hide {
  @media (--mobile) {
    display: none !important;
  }
}

.tablet-hide {
  @media (--tablet) {
    display: none !important;
  }
}

.desktop-hide {
  @media (--desktop) {
    display: none !important;
  }
}

.abs {
  position: absolute;
}

.rel {
  position: relative;
}

.circ {
  border-radius: 50%;
}

button {
  background: 0;
  border: 1px solid;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  height: 25px;
  transition: background ease-in-out 0.3s;
}

.border-b-1 {
  border-bottom: 1px solid;
}

.m-0 {
  margin: 0;
}

.p-2 {
  padding: 8px;
}

.p-3 {
  padding: 1rem;
}

.white {
  color: var(--white);
}

.white-important {
  color: var(--white) !important;
}

.hover\:white:hover {
  color: var(--white);
}

.navOverlay {
  border-radius: 4px;
  border: 0; /* 1px solid; */
  box-shadow: 1px 0 5px rgba(0, 0, 0, 0.2);
  overflow: scroll;
  right: 0;
  top: 55px;
  width: 240px;

  a {
    display: block;
    padding: 8px;
  }

  li {
    margin: 0;
    border-bottom: 1px solid;
    &:last-child {
      border: 0;
    }
  }
}

.contain {
  margin-left: auto;
  margin-right: auto;
  width: 65%;

  @media (--tablet) {
    width: 90%;
  }
}

ol,
ul {
  margin: 0;
  padding: 0 0 0 20px;

  li {
    margin-bottom: 8px;
  }
}

.list-style-none {
  list-style: none;
  padding: 0;
}

.marg-b-0 {
  margin: 0;
}

.marg-b-2 {
  margin-bottom: 8px;
}

.marg-b-3 {
  margin-bottom: 1rem;
}

.marg-b-4 {
  margin-bottom: 2rem;
}

.pad-l-3 {
  padding-left: 1rem; /* 16px, we should just be consistent and use rem */
}

.m\:marg-r-1 {
  @media (--mobile) {
    margin-right: 4px;
  }
}

.marg-r-1 {
  margin-right: 4px;
}

.d\:marg-r-2 {
  @media (--desktop) {
    margin-right: 8px;
  }
}

.m\:marg-r-2 {
  @media (--mobile) {
    margin-right: 8px;
  }
}

.marg-r-2 {
  margin-right: 8px;
}

.marg-r-3 {
  margin-right: 1rem;
}

.d\:marg-r-3 {
  @media (--desktop) {
    margin-right: 1rem;
  }
}

.uppercase {
  text-transform: uppercase;
}

.w-full {
  width: 100%;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.d\:flex {
  @media (--desktop) {
    display: flex;
  }
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

.d\:flex-row {
  @media (--desktop) {
    flex-direction: row;
  }
}

.m\:flex-col {
  @media (--mobile) {
    flex-direction: column;
  }
}

.d\:c-1\/3 {
  @media (--desktop) {
    flex: 0 1 calc(33.33% - 1rem);
  }
}

.justify-between {
  justify-content: space-between;
}

.ai-ctr {
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.columns {
  display: flex;
  flex-wrap: wrap;
}

.columns .column {
  padding: 0 10px;
}

.column.is-1 {
  flex: 1;
}

.column.is-2 {
  flex: 2;
}

.column.is-3 {
  flex: 3;
}

main {
  max-width: 90%;
  padding: 0;

  padding-bottom: var(--space-xl);
}

footer {
  border-top: 1px solid;
  padding: 2rem 0;
}

form {
  border-radius: 4px;
  padding: 1rem;
}

label {
  display: inline-block;
  font-weight: 500;
}

.highlight {
  background: yellow;
}

.justify-center {
  justify-content: center;
}

.clear {
  clear: both;
}

.climate-container img {
  display: inline-block;
  display: inline;
  max-width: 220px;
  padding: 10px 20px;
  vertical-align: top;
  zoom: 1.5;
}

.primaryBg {
  background: var(--color-bg-primary);
}
.secondaryBg {
  background: var(--color-bg-secondary);
}
.textColor {
  color: var(--color-text);
}

label {
  display: block;
  font-weight: inherit;

  @media (--mobile) {
    width: 100%;
  }
}

input[type="email"],
input[type="text"],
input[type="url"],
textarea,
select {
  border: 1px solid;
  border-radius: 4px;
  color: var(--grey);
  padding: 0.75rem;

  @media (--mobile) {
    margin-bottom: 0.5rem;
    width: 100%;
  }
}

input[type="submit"],
.pagination {
  border-radius: 4px;
  border: 0;
  font-weight: 500;
  margin-top: 20px;
  padding: 10px 20px;
}

hr {
  border-top: 0;
}

.primarySvgFill {
  fill: var(--white);
}

#mce-EMAIL,
#mc-embedded-subscribe {
  letter-spacing: 0.03rem;
}

#mce-EMAIL {
  margin: 0 0.5rem 0 0;
}

#mc-embedded-subscribe {
  border: 0;
  height: 100%;
  padding: 0.75rem;
}

.bg-white {
  background: var(--white);
}

/*__BEGIN__ interface for /events */
.tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.tab__content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.35s;
}
.tab input:checked ~ .tab__content {
  max-height: 100%;
}

/* Visual styles */
.accordion {
  border: 2px solid;
  border-radius: 0.5rem;
  overflow: hidden;
}
.tab__label,
.tab__close {
  display: flex;
  background: var(--theme);
  cursor: pointer;
}
.tab__label {
  justify-content: space-between;
  padding: 1rem;
}
.tab__label::after {
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
  transform: rotate(90deg);
  transition: all 0.35s;
}
.tab input:checked + .tab__label::after {
  transform: rotate(270deg);
  animation: ease 0.8s;
}
.tab__content p {
  margin: 0;
  padding: 1rem;
}
.tab__close {
  justify-content: flex-end;
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
}
.accordion--radio {
  --theme: var(--secondary);
}

/* Arrow animation */
/*
.tab input:not(:checked) + .tab__label:hover::after {
  animation: bounce .8s infinite;
}
*/
@keyframes bounce {
  25% {
    transform: rotate(90deg) translate(0.25rem);
  }
  75% {
    transform: rotate(90deg) translate(-0.25rem);
  }
}

/*__END__ accordian css for /events */

@media (prefers-color-scheme: light) {
  .primarySvgFill {
    fill: var(--grey);
  }
  #mc-embedded-subscribe {
    background: var(--grey2);
    color: var(--white);
  }
  hr {
    border-bottom: 1px solid #ccc;
  }
  footer {
    border-color: #ccc;
  }
  button,
  form {
    border-color: var(--grey3);
  }
  form {
    background-color: var(--grey3);
  }
  input[type="submit"] {
    background: var(--grey2);
    color: var(--white);

    &:hover {
      background-color: var(--red);
    }
  }
  input[type="email"],
  input[type="text"],
  input[type="url"],
  textarea,
  select {
    border-color: #ccc;
  }
  a {
    &:hover,
    &:focus {
      color: var(--grey);
      text-decoration: none;
    }
    &:active,
    &:link,
    &:visited {
      color: var(--red);
    }
  }

  .desktop-header,
  .navOverlay > li {
    background-color: var(--black);
    color: var(--white);

    &:hover {
      background-color: var(--red);
      fill: var(--red);
    }

    & > a {
      color: var(--white);
    }
  }
}

@media (prefers-color-scheme: dark) {
  h2 a:link {
    color: var(--white);
  }

  .border {
    border-color: var(--white);
  }
  #mc-embedded-subscribe {
    border-color: var(--grey);
  }
  hr {
    border-bottom: 1px solid var(--grey);
  }
  input[type="submit"] {
    background-color: var(--red);
    color: var(--white);

    &:hover {
      background-color: var(--grey2);
    }
  }
  input[type="email"],
  input[type="text"],
  input[type="url"],
  textarea,
  select {
    background: var(--grey2);
    border-color: transparent;
    color: var(--white);
  }
  .black {
    color: var(--white) !important;
  }
  a {
    color: var(--red);
  }
  h1,
  h2,
  h3,
  h4 {
    color: var(--white);
  }
  a {
    &:active,
    &:link,
    &:visited {
      color: var(--white);
    }

    &:hover,
    &:focus {
      color: var(--red);
      text-decoration: none;
    }
  }

  form {
    background-color: var(--grey);
  }
  footer {
    border-color: var(--grey2);
  }

  .desktop-header,
  .navOverlay > li {
    background-color: var(--red);
    color: var(--white);

    &:hover {
      background-color: var(--black);
      fill: var(--black);
    }

    & > a {
      color: var(--white);
    }
  }
}

.banner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.banner > div {
  flex-grow: 2;
  width: 75%;
  max-width: 75%;
}

.banner img {
  width: 100%;
}

img {
  max-width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto; /* use this to display responsive image */
}

.event-time {
  font-size: 1.25rem;
  padding-bottom: 1rem;
  padding-top: 0.5rem;
}
/*[id]::before {
  display: block;
  content: " ";
  margin-top: -60px;
  height: 60px;
  visibility: hidden;
  pointer-events: none;
}*/
#logo-header,
#logo-footer {
  background: var(--white);
  border-radius: 50%;
}

.card-preview {
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  background: var(--color-bg-secondary);

  > img {
    @supports (display: grid) {
      align-items: center;
      display: grid;
      grid-template-columns: 2rem 1fr;
      grid-gap: 0.5rem;
    }

    & > div {
      padding: 0.75rem;

      @media (--tablet) {
        width: 50px;
        height: 50px;
      }
    }
  }

  img {
    background: var(--white);
    line-height: 1;

    margin-right: 1rem;
    margin-left: 0;
    width: 100px;
    height: 100px;
    object-fit: cover;

    @media (--tablet) {
      width: 75px;
      height: 75px;
    }
  }

  .icon {
    background: var(--white);
    line-height: 1;
    border-radius: 50%;
    padding: 1rem;
    margin-right: 1rem;

    @media (--tablet) {
      height: 75px;
      width: 75px;
    }

    svg {
      fill: var(--grey);
      font-size: 0.7em;
      font-weight: bold;
      grid-column: 1;
      height: 75px;

      @media (--tablet) {
        height: 45px;
      }
    }
  }
}

.button,
a.button {
  display: inline-flex;
  align-items: center;
  gap: 0.5em;

  text-decoration: none;
  text-wrap: nowrap;

  padding: 0.3em 1em;

  border: 1px solid currentColor;
  border-radius: 100px;

  @media (prefers-color-scheme: dark) {
    color: var(--white);
    background: var(--black);
  }
  @media (prefers-color-scheme: light) {
    color: var(--black);
    background: var(--white);
  }

  &:hover,
  &:focus {
    color: var(--red);
  }

  &.primary {
    border: none;

    color: var(--white);
    background: var(--black);

    &:hover {
      background: var(--red);
    }

    @media (prefers-color-scheme: dark) {
      background: var(--red);

      &:hover {
        background: var(--black);
      }
    }
  }
}

nav {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 5px 0;

    display: flex;
    flex-wrap: wrap;
    gap: 1em;
  }
}

section {
  padding: var(--space-m) 0;
}

.chapters-page {
  display: flex;
  flex-direction: column;
  gap: var(--space-xl);

  & .region-group {
    display: flex;
    flex-direction: column;
    gap: var(--space-s);
  }
}

.chapters-page .list {
  &,
  & ul {
    list-style-type: none;
    padding: 0;

    & li {
      margin: 0;
    }
  }

  display: grid;

  /* todo(maximsmol): rethink this layout */
  grid-template-columns: repeat(auto-fit, clamp(150px, 35vw, 240px));
  @media (--mobile) {
    &:not(\20) {
      grid-template-columns: auto;

      row-gap: var(--space-2xs);
    }
  }

  row-gap: var(--space-s);
  column-gap: var(--space-s);

  & section {
    padding: 0;
  }
  & p {
    margin: 0;
  }

  & > .card {
    aspect-ratio: 1 / 1;
    @media (--mobile) {
      aspect-ratio: unset;
    }

    display: flex;

    border: 1px solid var(--grey4);
    border-radius: var(--border-radius-m);
    padding: var(--space-2xs);

    line-height: 1.2;
    letter-spacing: 0;

    & > .content {
      display: flex;
      flex-direction: column;

      width: 100%;

      @media (--mobile) {
        flex-direction: row;
      }

      gap: var(--space-s);

      & > .header {
        display: flex;
        flex-direction: column;

        @media (--mobile) {
          flex-direction: row;
          align-items: center;
        }

        & > section {
          display: flex;
          flex-direction: column;
          gap: var(--space-3xs);

          & :is(h1, h2, h3, h4, h5, h6) {
            line-height: 1;
          }
        }

        & h4 {
          color: inherit;
        }

        &:not(:hover),
        &:not([href]) {
          color: inherit;
        }
        text-decoration: none;

        gap: var(--space-xs);
        overflow: hidden;

        & > .image {
          order: -1;

          border-radius: var(--border-radius-s);

          overflow: hidden;

          & > img {
            width: 100%;
            height: 100%;

            object-fit: cover;

            @media (--mobile) {
              aspect-ratio: 1;
              max-height: 50px;
            }
          }
        }
      }

      & .details {
        font-size: var(--step--1);
      }

      & .quick-links {
        display: flex;
        gap: var(--space-2xs);

        height: var(--space-m);

        line-height: 1;
        align-items: center;

        @media (--mobile) {
          place-self: flex-end;

          flex-grow: 1;
          justify-content: flex-end;
        }

        & a {
          display: block;
        }
      }
    }
  }
}

.job-board {
  list-style-type: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
  gap: 5px;

  & li {
    border: 1px solid var(--grey4);
    border-radius: 10px;
    padding: 0.5em;

    display: flex;
    flex-direction: column;
  }
}

.lucide,
.simple-icon {
  width: 1em;
  aspect-ratio: 1 / 1;
}

.simple-icon {
  fill: currentColor;

  &.twitter {
    width: 1.3em;

    background: #000;
    padding: 6px;
    border-radius: 6px;

    @media (prefers-color-scheme: light) {
      background: transparent;

      padding: 0;
      width: 0.8em;
      border-radius: 0;

      color: #000000;
    }
  }

  &.facebook {
    @media (prefers-color-scheme: light) {
      color: #0866ff;
    }
  }

  &.meetup {
    width: 1.2em;
    @media (prefers-color-scheme: light) {
      color: #ed1c40;
    }
  }
}

.blog-header {
  text-wrap: balance;
  text-wrap: pretty;
}

.blog-content {
  font-family: serif;
  max-width: 700px;

  p {
    margin: 1.5em 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    /* todo(maximsmol): find a new font for headings that fits with the serif fonts */
    font-family: var(--font-family-base);
  }
}

nav.see-more {
  padding-bottom: 30px;
}

.img-fluid {
  max-width: 100%;
}

.form-row {
  display: flex;
  gap: 1em;
}

.spring {
  flex-grow: 1;
}
