$red: #d72b2b;
$black: #020e0f;
$white: #fff;
$grey: #2e2e2e;
$grey2: #191919;
$grey3: #f6f6f6;
$grey4: #777;
$tablet-width: 760px;
$mobile-width: 420px;
$header-height: 60px;

$font-family-base:
  Helvetica Neue,
  HelveticaNeue,
  Helvetica,
  Arial,
  system-ui,
  -apple-system,
  Segoe UI,
  Roboto,
  Ubuntu,
  Cantarell,
  Noto Sans,
  sans-serif;

@mixin desktop {
  @media screen and (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: #{$mobile-width}) {
    @content;
  }
}

body {
  font-family: $font-family-base;
  letter-spacing: 0.03rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  padding-top: $header-height + 20px;
}

.grow-main {
  flex-grow: 1;
}

.underline {
  text-decoration: underline;
}

.noUnderline {
  text-decoration: none;
}

header {
  box-shadow:
    0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.06);
  height: $header-height;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9;

  a {
    text-decoration: none;
  }

  button {
    border: 0;
  }

  #langBtn {
    padding-left: 14px;

    &:hover {
      color: $red;
      & .primarySvgFill {
        fill: $red;
      }
    }
  }

  #nav,
  #navBtn {
    @include desktop {
      display: none;
    }
  }
}

.desktop-header {
  margin-left: 10px;
  font-weight: normal;
  padding: 4px 14px;
  border-radius: 100px;
  list-style-type: none;

  @include tablet {
    display: none;
  }
}

.border {
  border: 1px solid #000;
}

.title {
  font-size: 21px;

  @include mobile {
    font-size: 16px;
  }
}

.lh-1 {
  line-height: 1;
}

.lh-tight {
  line-height: 1.2;
}

.black {
  color: $black;
}

.black-important {
  color: $black !important;
}

.grey {
  color: $grey;
}

.red {
  color: $red;
}

.hide {
  display: none;
}

.mobile-hide {
  @include mobile {
    display: none !important;
  }
}

.tablet-hide {
  @include tablet {
    display: none !important;
  }
}

.desktop-hide {
  @include desktop {
    display: none !important;
  }
}

.abs {
  position: absolute;
}

.rel {
  position: relative;
}

.circ {
  border-radius: 50%;
}

button {
  background: 0;
  border: 1px solid;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  height: 25px;
  transition: background ease-in-out 0.3s;
}

.border-b-1 {
  border-bottom: 1px solid;
}

.m-0 {
  margin: 0;
}

.p-2 {
  padding: 8px;
}

.p-3 {
  padding: 1rem;
}

.white {
  color: $white;
}

.white-important {
  color: $white !important;
}

.hover\:white:hover {
  color: $white;
}

.navOverlay {
  border-radius: 4px;
  border: 0; // 1px solid;
  box-shadow: 1px 0 5px rgba(0, 0, 0, 0.2);
  overflow: scroll;
  right: 0;
  top: 55px;
  width: 240px;

  a {
    display: block;
    padding: 8px;
  }

  li {
    margin: 0;
    border-bottom: 1px solid;
    &:last-child {
      border: 0;
    }
  }
}

.contain {
  margin-left: auto;
  margin-right: auto;
  width: 65%;

  @include tablet {
    width: 90%;
  }
}

ol,
ul {
  margin: 0;
  padding: 0 0 0 20px;

  li {
    margin-bottom: 8px;
  }
}

.list-style-none {
  list-style: none;
  padding: 0;
}

.marg-b-0 {
  margin: 0;
}

.marg-b-2 {
  margin-bottom: 8px;
}

.marg-b-3 {
  margin-bottom: 1rem;
}

.marg-b-4 {
  margin-bottom: 2rem;
}

.pad-l-3 {
  padding-left: 1rem; // 16px, we should just be consistent and use rem
}

.m\:marg-r-1 {
  @include mobile {
    margin-right: 4px;
  }
}

.marg-r-1 {
  margin-right: 4px;
}

.d\:marg-r-2 {
  @include desktop {
    margin-right: 8px;
  }
}

.m\:marg-r-2 {
  @include mobile {
    margin-right: 8px;
  }
}

.marg-r-2 {
  margin-right: 8px;
}

.marg-r-3 {
  margin-right: 1rem;
}

.d\:marg-r-3 {
  @include desktop {
    margin-right: 1rem;
  }
}

.uppercase {
  text-transform: uppercase;
}

.w-full {
  width: 100%;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.d\:flex {
  @include desktop {
    display: flex;
  }
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

.d:flex-row {
  @include desktop {
    flex-direction: row;
  }
}

.m\:flex-col {
  @include mobile {
    flex-direction: column;
  }
}

.d\:c-1\/3 {
  @include desktop {
    flex: 0 1 calc(33.33% - 1rem);
  }
}

.justify-between {
  justify-content: space-between;
}

.ai-ctr {
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.columns {
  display: flex;
  flex-wrap: wrap;
}

.columns .column {
  padding: 0 10px;
}

.column.is-1 {
  flex: 1;
}

.column.is-2 {
  flex: 2;
}

.column.is-3 {
  flex: 3;
}

main {
  max-width: 90%;
  padding: 0;
}

footer {
  border-top: 1px solid;
  padding: 2rem 0;
}

.txt-1,
h1 {
  font-size: 2rem;
  @include mobile {
    font-size: 1.75rem;
  }
}

.txt-2,
h2 {
  font-size: 1.75rem;
  font-weight: 500;
  @include mobile {
    font-size: 1.5rem;
  }
}

.txt-3,
h3 {
  font-size: 1.5rem;
  font-weight: 500;
  @include mobile {
    font-size: 1.25rem;
  }
}

form {
  border-radius: 4px;
  padding: 0 1.5rem 1rem 1.5rem;
  margin: auto;

  label {
    margin: 0;
    width: 100%;

    div, input::placeholder {
      padding-top: 1rem;
      padding-bottom: 2px;
      margin-left: 5px;
    }

    input::placeholder {
      text-align: center;
    }
  }
  
  input, select[name=nearby-chapter] {
    &:focus{
      outline: none;
      border: 1px solid $red;
    } 
  }
  
  input, select[name=nearby-chapter], input[type=submit] {
    width: 100%;
    
    &#outreach {
      width: 1rem;
    }
  }
}

label {
  display: inline-block;
  font-weight: 500;
}

.highlight {
  background: yellow;
}

.justify-center {
  justify-content: center;
}

.clear {
  clear: both;
}

.climate-container img {
  display: inline-block;
  display: inline;
  max-width: 220px;
  padding: 10px 20px;
  vertical-align: top;
  zoom: 1.5;
}

.primaryBg {
  background: $grey2;
}
.secondaryBg {
  background: $grey;
}
.textColor {
  color: $white;
}

label {
  display: block;
  font-weight: inherit;

  @include mobile {
    width: 100%;
  }
}

input[type=email],
input[type=text],
input[type=url],
select {
  border: 1px solid;
  border-radius: 4px;
  padding: 0.75rem;

  @include mobile {
    margin-bottom: 0.5rem;
    width: 100%;
  }
}

input[type=submit],
.pagination {
  border-radius: 4px;
  border: 0;
  font-weight: 500;
  padding: 10px 20px;
}

hr {
  border-top: 0;
}

.primarySvgFill {
  fill: $white;
}

#mce-EMAIL,
#mc-embedded-subscribe {
  letter-spacing: 0.03rem;
}

#mce-EMAIL {
  margin: 0 0.5rem 0 0;
}

#mc-embedded-subscribe {
  border: 0;
  height: 100%;
  padding: 0.75rem;
}

.bg-white {
  background: $white;
}

// __BEGIN__ interface for /events
.tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.tab__content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.35s;
}
.tab input:checked ~ .tab__content {
  max-height: 100%;
}

/* Visual styles */
.accordion {
  border: 2px solid;
  border-radius: 0.5rem;
  overflow: hidden;
}
.tab__label,
.tab__close {
  display: flex;
  background: var(--theme);
  cursor: pointer;
}
.tab__label {
  justify-content: space-between;
  padding: 1rem;
}
.tab__label::after {
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
  transform: rotate(90deg);
  transition: all 0.35s;
}
.tab input:checked + .tab__label::after {
  transform: rotate(270deg);
  animation: ease 0.8s;
}
.tab__content p {
  margin: 0;
  padding: 1rem;
}
.tab__close {
  justify-content: flex-end;
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
}
.accordion--radio {
  --theme: var(--secondary);
}

/* Arrow animation */
// .tab input:not(:checked) + .tab__label:hover::after {
//   animation: bounce .8s infinite;
// }
@keyframes bounce {
  25% {
    transform: rotate(90deg) translate(0.25rem);
  }
  75% {
    transform: rotate(90deg) translate(-0.25rem);
  }
}

// __END__ accordian css for /events

@media (prefers-color-scheme: light) {
  .primarySvgFill {
    fill: $grey;
  }
  #mc-embedded-subscribe {
    background: $grey2;
    color: $white;
  }
  hr {
    border-bottom: 1px solid #ccc;
  }
  footer {
    border-color: #ccc;
  }
  button,
  form {
    border-color: $grey3;
  }
  form {
    background-color: $grey3;
  }
  input[type=submit] {
    background: $grey2;
    color: $white;

    &:hover {
      background-color: $red;
    }
  }
  input[type=email],
  input[type=text],
  input[type=url],
  select {
    color: $grey;
    border-color: $black;
  }
  .primaryBg {
    background-color: $white;
  }
  .secondaryBg {
    background-color: $grey3;
  }
  .textColor {
    color: $grey2;
  }
  a {
    &:hover,
    &:focus {
      color: $grey;
      text-decoration: none;
    }
    &:active,
    &:link,
    &:visited {
      color: $red;
    }
  }

  .desktop-header,
  .navOverlay > li {
    background-color: $black;
    color: $white;

    &:hover {
      background-color: $red;
      fill: $red;
    }

    & > a {
      color: $white;
    }
  }
}

@media (prefers-color-scheme: dark) {
  h2 a:link {
    color: $white;
  }

  .border {
    border-color: $white;
  }
  #mc-embedded-subscribe {
    border-color: $grey;
  }
  hr {
    border-bottom: 1px solid $grey;
  }
  input[type=submit] {
    background-color: $red;
    color: $white;

    &:hover {
      background-color: $grey2;
    }
  }
  input[type=email],
  input[type=text],
  input[type=url],
  select {
    background: $grey2;
    border-color: transparent;
    color: $white;
  }
  .black {
    color: $white !important;
  }
  a {
    color: $red;
  }
  h1,
  h2,
  h3,
  h4 {
    color: $white;
  }
  a {
    &:active,
    &:link,
    &:visited {
      color: $white;
    }

    &:hover,
    &:focus {
      color: $red;
      text-decoration: none;
    }
  }

  form {
    background-color: $grey;
  }
  footer {
    border-color: $grey2;
  }

  .desktop-header,
  .navOverlay > li {
    background-color: $red;
    color: $white;

    &:hover {
      background-color: $black;
      fill: $black;
    }

    & > a {
      color: $white;
    }
  }
}

.banner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.banner > div {
  flex-grow: 2;
  width: 75%;
  max-width: 75%;
}

.banner img {
  width: 100%;
}

img {
  max-width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto; // use this to display responsive image
}

.event-time {
  font-size: 1.25rem;
  padding-bottom: 1rem;
  padding-top: 0.5rem;
}
[id]::before {
  display: block;
  content: " ";
  margin-top: -60px; // height of header bar
  height: 60px;
  visibility: hidden;
  pointer-events: none;
}
#logo-header,
#logo-footer {
  background: $white;
  border-radius: 50%;
}

.card-preview {
  @extend .p-3;
  @extend .marg-b-3;
  @extend .flex;
  @extend .items-center;
  @extend .secondaryBg;

  > img {
    @supports (display: grid) {
      align-items: center;
      display: grid;
      grid-template-columns: 2rem 1fr;
      grid-gap: 0.5rem;
    }

    & > div {
      padding: 0.75rem;

      @include tablet {
        width: 50px;
        height: 50px;
      }
    }
  }

  img {
    @extend .bg-white;
    @extend .lh-1;
    margin-right: 1rem;
    margin-left: 0;
    width: 100px;
    height: 100px;
    object-fit: cover;

    @include tablet {
      width: 75px;
      height: 75px;
    }
  }

  .icon {
    @extend .bg-white;
    @extend .circ;
    @extend .lh-1;
    @extend .p-3;
    @extend .marg-r-3;

    @include tablet {
      height: 75px;
      width: 75px;
    }

    svg {
      fill: $grey;
      font-size: 0.7em;
      font-weight: bold;
      grid-column: 1;
      height: 75px;

      @include tablet {
        height: 45px;
      }
    }
  }
}

.button,
a.button {
  display: inline-flex;
  align-items: center;
  gap: 0.5em;

  text-decoration: none;
  text-wrap: nowrap;

  padding: 0.3em 1em;

  border: 1px solid currentColor;
  border-radius: 100px;

  @media (prefers-color-scheme: dark) {
    color: $white;
    background: $black;
  }
  @media (prefers-color-scheme: light) {
    color: $black;
    background: $white;
  }

  &:hover,
  &:focus {
    color: $red;
  }

  &.primary {
    border: none;

    color: $white;
    background: $black;

    &:hover {
      background: $red;
    }

    @media (prefers-color-scheme: dark) {
      background: $red;

      &:hover {
        background: $black;
      }
    }
  }
}

nav {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 5px 0;

    display: flex;
    flex-wrap: wrap;
    gap: 1em;
  }
}

section {
  padding: clamp(0.9375rem, 0.554rem + 1.7045vw, 1.875rem) 0;
}

.chapter-list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
  gap: 5px;

  & .name {
    font-size: 120%;
  }

  & li {
    border: 1px solid $grey4;
    border-radius: 10px;
    padding: 0.5em;

    display: flex;
    flex-direction: row;

    gap: 0.5em;
    align-items: center;

    a {
      display: flex;
    }
  }
}

.job-board {
  list-style-type: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
  gap: 5px;

  & li {
    border: 1px solid $grey4;
    border-radius: 10px;
    padding: 0.5em;

    display: flex;
    flex-direction: column;
  }
}

.lucide,
.simple-icon {
  width: 1em;
  aspect-ratio: 1 / 1;
}

.simple-icon {
  fill: currentColor;

  &.twitter {
    width: 0.75em;

    @media (prefers-color-scheme: light) {
      color: #000000;
    }
  }

  &.facebook {
    @media (prefers-color-scheme: light) {
      color: #0866ff;
    }
  }

  &.meetup {
    width: 1.2em;
    @media (prefers-color-scheme: light) {
      color: #ed1c40;
    }
  }
}

.blog-header {
  text-wrap: balance;
  text-wrap: pretty;
}

.blog-content {
  font-size: clamp(1.25rem, 1.1989rem + 0.2273vw, 1.375rem);
  font-family: serif;
  max-width: 700px;

  p {
    margin: 1.5em 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    // todo(maximsmol): find a new font for headings that fits with the serif fonts
    font-family: $font-family-base;
  }
}

nav.see-more {
  padding-bottom: 30px;
}
