@import 'variables';
@import 'header';
// @import 'home';

body {
  background: $white;
  color: #333;
  font-family: Helvetica Neue, HelveticaNeue, Helvetica, Arial, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
  // font-family: 'Avenir', sans-serif;
  font-size: 18px;
  letter-spacing: normal;
  line-height: 1.4;
  margin: 0;
  padding: 0;
}

.bg-black {
  background: $black;
  color: $white;
}

.lh-1 {
  line-height: 1;
}

.lh-tight {
  line-height: 1.2;
}

.black {
  color: $black;
}

.grey {
  color: $grey;
}

.red {
  color: $red;
}

.hide {
  display: none;
}

.m\:hide {
  @include mobile {
    display: none !important;
  }
}

.d\:hide {
  @include desktop {
    display: none !important;
  }
}

.abs {
  position: absolute;
}

.rel {
  position: relative;
}

button {
  background: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  height: 25px;
  transition: background ease-in-out .3s;

  &:hover {
    background: #efefef;
  }
}

.border-b-1 {
  border-bottom: 1px solid #efefef;
}

.p-2 {
  padding: 8px;
}

.p-3 {
  padding: 1rem;
}

.white {
  color: $white;
}

.navOverlay {
  background: $white;
  border-radius: 4px;
  border: 1px solid #efefef;
  box-shadow: 1px 0 5px rgba(0, 0, 0, .2);
  max-height: 200px;
  overflow: scroll;
  right: 0;
  top: 55px;
  width: 200px;

  a {
    border-bottom: 1px solid #efefef;
    display: block;
    padding: 8px;
  }
}

.contain {
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  width: 800px;
}

ol,
ul {
  margin: 0;
  padding: 0 0 0 20px;

  li {
    margin-bottom: 8px;
  }
}

.list-style-none {
  list-style: none;
  padding: 0;
}

.marg-b-2 {
  margin-bottom: 8px;
}

.marg-b-3 {
  margin-bottom: 1rem;
}

.marg-b-4 {
  margin-bottom: 2rem;
}

.m\:marg-r-1 {
  @include mobile {
    margin-right: 4px;
  }
}

.marg-r-1 {
  margin-right: 4px;
}

.d\:marg-r-2 {
  @include desktop {
    margin-right: 8px;
  }
}

.marg-r-2 {
  margin-right: 8px;
}

.marg-r-3 {
  margin-right: 1rem;
}

.d\:marg-r-3 {
  @include desktop {
    margin-right: 1rem;
  }
}

.uppercase {
  text-transform: uppercase;
}

.w-full {
  width: 100%;
}

.flex {
  display: flex;
}

.d\:flex {
  @include desktop {
    display: flex;
  }
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

.d:flex-row {
  @include desktop {
    flex-direction: row;
  }
}

.m\:flex-col {
  @include mobile {
    flex-direction: column;
  }
}

.d\:c-1\/3 {
  @include desktop {
    flex: 1 1 calc(33.33% - 1rem);
  }
}

.justify-between {
  justify-content: space-between;
}

.ai-ctr {
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.columns {
  display: flex;
  flex-wrap: wrap;
}

.columns .column {
  padding: 0 10px;
}

.column.is-1 {
  flex: 1;
}

.column.is-2 {
  flex: 2;
}

.column.is-3 {
  flex: 3;
}

a {
  &:link {
    color: #E6141B;
  }
  &:visited {
    color: #E6141B;
  }
  &:hover {
    color: #212121;
  }
  &:focus {
    color: #212121;
  }
  &:active {
    color: #E6141B;
  }
}

input[type="submit"] {
  background: #212121;
  border-radius: 100px;
  border: 0;
  color: #fff;
  font-weight: 500;
  margin-top: 20px;
  padding: 10px 20px;
  text-transform: uppercase;

  &:hover {
    background-color: #E6141B;
  }
}

main {
  max-width: 90%;
  padding: 80px 0;
}

footer {
  background: #f6f6f6;
  border-top: 1px solid #ccc;
  padding: 2rem 0;
}

.txt-1
h1 {
  font-size: 2rem;
  @include mobile {
    font-size: 1.5rem;
    /* 1.5 * .875 */
  }
}

.txt-2
h2 {
  font-size: 1.5rem;
  /* 16x1.5=24 */
  @include mobile {
    font-size: 1rem;
    /* 1.5 * .875 */
  }
}

.txt-3
h3 {
  font-size: 1.125rem;
  /* 16x1.125=18 */
  @include mobile {
    font-size: 1.09375rem;
    /* 1.25 * .875 */
  }
}

h4 {
  font-size: 0.875rem;
  font-style: italic;
  /* 16x0.875=14 */
  @include mobile {
    font-size: 0.765625rem;
    font-style: italic;
    /* .875 * .875 */
  }
}

form {
  background: #f6f6f6;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
}

label {
  display: inline-block;
  font-weight: 500;
}

.highlight {
  background: yellow;
}

.justify-center {
  justify-content: center;
}

.clear {
  clear: both;
}

.climate-container img{
  display: inline-block;
  display: inline;
  max-width: 220px;
  padding: 10px 20px;
  vertical-align: top;
  zoom: 1.5;
}
