/* montserrat-latin-wght-normal */
@font-face {
  font-family: "Montserrat Variable";
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url(/fonts/montserrat-latin-wght-normal.woff2) format("woff2-variations");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
    U+2215, U+FEFF, U+FFFD;
}

/* silkscreen-latin-400-normal */
@font-face {
  font-family: "Silkscreen";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(/fonts/silkscreen-latin-400-normal.woff2) format("woff2");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
    U+2215, U+FEFF, U+FFFD;
}

/* roboto-mono-latin-wght-normal */
@font-face {
  font-family: "Roboto Mono Variable";
  font-style: normal;
  font-display: swap;
  font-weight: 100 700;
  src: url(/files/roboto-mono-latin-wght-normal.woff2)
    format("woff2-variations");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
    U+2215, U+FEFF, U+FFFD;
}

@layer reset, base, components, utils;

@layer reset {
  /* see https://www.joshwcomeau.com/css/custom-css-reset */
  /* see https://vale.rocks/posts/css-reset */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    background-repeat: no-repeat;
  }

  * {
    margin: 0;
    padding: 0;
  }

  :root {
    color-scheme: light dark;

    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;

    line-height: 1.5;
    overflow-wrap: break-word;
    text-wrap: pretty;
    font-variant-numeric: proportional-nums;
    hanging-punctuation: first allow-end last;

    -webkit-font-smoothing: antialiased;
    interpolate-size: allow-keywords;

    block-size: 100%;
  }

  body {
    min-block-size: 100%;
  }

  :focus-visible {
    outline-offset: 0.2rem;
  }

  img,
  picture,
  audio,
  video,
  canvas,
  iframe,
  svg {
    display: block;
    max-inline-size: 100%;
    block-size: auto;
  }

  svg:where(:not([fill])) {
    fill: currentColor;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: unset;
  }

  math,
  time,
  table {
    font-variant-numeric: tabular-nums;
  }

  pre,
  code {
    font-variant-numeric: tabular-nums slashed-zero;
  }

  textarea {
    resize: vertical;
  }

  table {
    border-collapse: collapse;
  }

  sup,
  sub {
    line-height: 0;
  }
}

/*
note: minimum supported width 360px matching the smallest preset in Firefox,
which is Galaxy S10/S10+ Android 11
*/

@custom-media --breakpoint-sm (width >= 40rem) /* 640px */;
@custom-media --breakpoint-md (width >= 48rem) /* 768px */;
@custom-media --breakpoint-lg (width >= 64rem) /* 1024px */;
@custom-media --breakpoint-xl (width >= 80rem) /* 1280px */;
@custom-media --breakpoint-2xl (width >= 96rem) /* 1536px */;

@layer base {
  :root {
    --container-width: 1440px;

    /* see https://utopia.fyi/  */
    /* @todo what were the inputs in utopia for these? want to add comments with their px equivalents and the specific link to generate them */
    --step--2: clamp(0.7813rem, 0.7736rem + 0.0341vw, 0.8rem);
    --step--1: clamp(0.9375rem, 0.9119rem + 0.1136vw, 1rem);
    --step-0: clamp(1.125rem, 1.0739rem + 0.2273vw, 1.25rem);
    --step-1: clamp(1.35rem, 1.2631rem + 0.3864vw, 1.5625rem);
    --step-2: clamp(1.62rem, 1.4837rem + 0.6057vw, 1.9531rem);
    --step-3: clamp(1.944rem, 1.7405rem + 0.9044vw, 2.4414rem);
    --step-4: clamp(2.3328rem, 2.0387rem + 1.3072vw, 3.0518rem);
    --step-5: clamp(2.7994rem, 2.384rem + 1.8461vw, 3.8147rem);

    --space-3xs: clamp(0.3125rem, 0.3125rem + 0vw, 0.3125rem);
    --space-2xs: clamp(0.5625rem, 0.5369rem + 0.1136vw, 0.625rem);
    --space-xs: clamp(0.875rem, 0.8494rem + 0.1136vw, 0.9375rem);
    --space-s: clamp(1.125rem, 1.0739rem + 0.2273vw, 1.25rem);
    --space-m: clamp(1.6875rem, 1.6108rem + 0.3409vw, 1.875rem);
    --space-l: clamp(2.25rem, 2.1477rem + 0.4545vw, 2.5rem);
    --space-xl: clamp(3.375rem, 3.2216rem + 0.6818vw, 3.75rem);
    --space-2xl: clamp(4.5rem, 4.2955rem + 0.9091vw, 5rem);
    --space-3xl: clamp(6.75rem, 6.4432rem + 1.3636vw, 7.5rem);

    --space-3xs-2xs: clamp(0.3125rem, 0.1847rem + 0.5682vw, 0.625rem);
    --space-2xs-xs: clamp(0.5625rem, 0.4091rem + 0.6818vw, 0.9375rem);
    --space-xs-s: clamp(0.875rem, 0.7216rem + 0.6818vw, 1.25rem);
    --space-s-m: clamp(1.125rem, 0.8182rem + 1.3636vw, 1.875rem);
    --space-m-l: clamp(1.6875rem, 1.3551rem + 1.4773vw, 2.5rem);
    --space-l-xl: clamp(2.25rem, 1.6364rem + 2.7273vw, 3.75rem);
    --space-xl-2xl: clamp(3.375rem, 2.7102rem + 2.9545vw, 5rem);
    --space-2xl-3xl: clamp(4.5rem, 3.2727rem + 5.4545vw, 7.5rem);

    --space-s-l: clamp(1.125rem, 0.5625rem + 2.5vw, 2.5rem);

    /* https://huetone.ardov.me/?palette=N4IgdghgtgpiBcIAqB1AwgAgMYHsAOAniADQgAWArjAM4IDaoksCIAChQE54A2cpu3HB1rw6IAMQATAGYwAzNOkkJWAEaSAjIuXiI01QDZtpcQE4ATKdPGJAdnMGsN8QFYAHHJfO5bjbawaOuaqAAzuSiYaBiFuLuY6IRAhIZ4gALoAvsSM0HCIAEowksoCQiJi4oqSWJKmOopYACxYIfXS1lZttlF8EtLRpnJyOljRIeYuOqa2yRoQOgaNIY0arSZykslhQeZb8ZnZ4LksAOIcEET8OILC9BIwLg8POpKNr6866l-FJhAuf38dLFgZMTAZTODwTpGtIYTCdENEcNIgFUQlNhj0lkcsxEAAZCAANxgYEkMA4JWuZTu4hgBhgWl6UkcTgiKkSijZuka0xgqiBjVs-jcC1MLlUEDqJjhMX560a5gccokWmWjSZq2SclaBxxeWQMAg3EpN3KEghnK5IS05lhCRCkjctR0UVUah%2BEmSpjcnRMyVs03mfrCqhcWHtclUkft5g0sYSGkTqyxaVIABccGAaHcXGsQJrlLs89q80s87m82NlDM825kspTPXMkA */
    /* todo(maximsmol): these are sRGB, we should try upgrading to P3/Rec2020 */
    /* todo(maximsmol): maybe use https://harmonizer.evilmartians.com*/
    /* todo(maximsmol): likely need to fork huetone and fix it up */

    /* --color-purple-50: #dfe3ff; */
    --color-purple-50: oklch(0.921 0.038 279.169);
    /* --color-purple-100: #cbd1ff; */
    --color-purple-100: oklch(0.871 0.064 279.15);
    /* --color-purple-200: #afb6ff; */
    --color-purple-200: oklch(0.798 0.104 279.54);
    /* --color-purple-300: #9299ff; */
    --color-purple-300: oklch(0.721 0.147 279.036);
    /* --color-purple-400: #726cff; */
    --color-purple-400: oklch(0.616 0.212 280.012);
    /* --color-purple-500: #5835ff; */
    --color-purple-500: oklch(0.521 0.273 279.068);
    /* --color-purple-600: #3817c1; */
    --color-purple-600: oklch(0.403 0.233 276.822);
    /* --color-purple-700: #2b058f; */
    --color-purple-700: oklch(0.32 0.19 279.274);
    /* --color-purple-800: #160852; */
    --color-purple-800: oklch(0.226 0.122 279.099);
    /* --color-purple-900: #090035; */
    --color-purple-900: oklch(0.16 0.098 279.099);

    /* --color-red-50: #ffdcd9; */
    --color-red-50: oklch(0.923 0.039 23.697);
    /* --color-red-100: #ffc4c0; */
    --color-red-100: oklch(0.872 0.068 23.014);
    /* --color-red-200: #ff9f99; */
    --color-red-200: oklch(0.798 0.115 23.837);
    /* --color-red-300: #ff716e; */
    --color-red-300: oklch(0.72 0.174 23.661);
    /* --color-red-400: #f60b33; */
    --color-red-400: oklch(0.616 0.246 23.532);
    /* --color-red-500: #c60025; */
    --color-red-500: oklch(0.521 0.211 23.669);
    /* --color-red-600: #97001a; */
    --color-red-600: oklch(0.427 0.172 23.571);
    /* --color-red-700: #640410; */
    --color-red-700: oklch(0.32 0.125 23.383);
    /* --color-red-800: #3d0005; */
    --color-red-800: oklch(0.227 0.092 23.707);
    /* --color-red-900: #220002; */
    --color-red-900: oklch(0.16 0.064 23.707);

    /* --color-gray-50: #e5e5e5; */
    --color-gray-50: oklch(0.922 0 89.876);
    /* --color-gray-100: #d4d4d4; */
    --color-gray-100: oklch(0.87 0 89.876);
    /* --color-gray-200: #bdbdbd; */
    --color-gray-200: oklch(0.798 0 89.876);
    /* --color-gray-300: #a5a5a5; */
    --color-gray-300: oklch(0.722 0 89.876);
    /* --color-gray-400: #858585; */
    --color-gray-400: oklch(0.617 0 89.876);
    /* --color-gray-500: #696969; */
    --color-gray-500: oklch(0.521 0 89.876);
    /* --color-gray-600: #4f4f4f; */
    --color-gray-600: oklch(0.428 0 89.876);
    /* --color-gray-700: #333333; */
    --color-gray-700: oklch(0.321 0 89.876);
    /* --color-gray-800: #1c1c1c; */
    --color-gray-800: oklch(0.226 0 89.876);
    /* --color-gray-900: #0d0d0d; */
    --color-gray-900: oklch(0.16 0 89.876);

    /* --color-lavender-50: #e6e1fe; */
    --color-lavender-50: oklch(0.922 0.039 293.523);
    /* --color-lavender-100: #d6ccff; */
    --color-lavender-100: oklch(0.87 0.071 293.871);
    /* --color-lavender-200: #c0afff; */
    --color-lavender-200: oklch(0.798 0.113 293.426);
    /* --color-lavender-300: #a497eb; */
    --color-lavender-300: oklch(0.721 0.121 290.122);
    /* --color-lavender-400: #8477c8; */
    --color-lavender-400: oklch(0.615 0.121 289.741);
    /* --color-lavender-500: #695ba9; */
    --color-lavender-500: oklch(0.521 0.12 289.816);
    /* --color-lavender-600: #4f408b; */
    --color-lavender-600: oklch(0.426 0.12 289.528);
    /* --color-lavender-700: #34226b; */
    --color-lavender-700: oklch(0.321 0.121 289.1);
    /* --color-lavender-800: #1f044e; */
    --color-lavender-800: oklch(0.225 0.12 289.591);
    /* --color-lavender-900: #100030; */
    --color-lavender-900: oklch(0.16 0.09 289.59);

    /* --color-teal-50: #96ffff; */
    --color-teal-50: oklch(0.937 0.098 195.609);
    /* --color-teal-100: #00f2f4; */
    --color-teal-100: oklch(0.871 0.148 195.842);
    /* --color-teal-200: #01d8d9; */
    --color-teal-200: oklch(0.799 0.136 195.368);
    /* --color-teal-300: #00bcbe; */
    --color-teal-300: oklch(0.721 0.123 196.129);
    /* --color-teal-400: #009899; */
    --color-teal-400: oklch(0.616 0.105 195.596);
    /* --color-teal-500: #00797a; */
    --color-teal-500: oklch(0.522 0.089 195.786);
    /* --color-teal-600: #005b5c; */
    --color-teal-600: oklch(0.427 0.073 196.077);
    /* --color-teal-700: #003b3b; */
    --color-teal-700: oklch(0.319 0.054 194.769);
    /* --color-teal-800: #002121; */
    --color-teal-800: oklch(0.224 0.038 194.769);
    /* --color-teal-900: #011110; */
    --color-teal-900: oklch(0.16 0.025 194.769);

    /* --color-white: #ffffff; */
    --color-white: oklch(1 0 0);
    /* --color-off-white: #fafafa; */
    --color-off-white: oklch(0.985 0 89.876);
    /* --color-black: #000000; */
    --color-black: oklch(0 0 0);

    --color-text: light-dark(var(--color-purple-900), var(--color-off-white));
    --color-bg-primary: light-dark(var(--color-white), var(--color-purple-900));

    --font-main: "Montserrat Variable", sans-serif;
    --font-heading: Silkscreen, sans-serif;
    --font-monospace: "Roboto Mono Variable", monospace;
  }

  body {
    font-size: var(--step-0);
    font-family: var(--font-main);
    color: var(--color-text);
    background-color: var(--color-bg-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    > header,
    > footer,
    main {
      width: 100%;

      > * {
        width: 100%;
        max-width: var(--container-width);
        padding-inline: var(--space-m);
        margin-inline: auto;

        @media (--breakpoint-md) {
          padding-inline: var(--space-xl);
        }
      }
    }

    > header > * {
      padding-inline: var(--space-s);

      @media (--breakpoint-md) {
        padding-inline: var(--space-l);
      }
    }
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  pre,
  code,
  .monospace {
    font-family: var(--font-monospace);
  }

  h1,
  .h1 {
    font-size: var(--step-4);

    @media (--breakpoint-md) {
      font-size: var(--step-5);
    }
  }

  h2,
  .h2 {
    font-size: var(--step-4);
  }

  h3,
  .h3 {
    font-size: var(--step-3);
  }

  h4,
  .h4 {
    font-size: var(--step-2);
  }

  h5,
  .h5 {
    font-size: var(--step-1);
  }

  h6,
  .h6 {
    font-weight: bold;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5 {
    font-family: var(--font-heading);
  }

  a {
    display: flex;
    align-items: center;
    gap: 1ch;
    color: inherit;
    text-decoration: none;
    transition: 0.2s all ease-in;
    border-bottom: 2px solid transparent;
    width: fit-content;
    font-weight: 500;
    font-family: var(--font-monospace);

    &:hover,
    &:active,
    &:focus-visible {
      color: var(--color-lavender-200);
      border-bottom-color: currentColor;
    }
  }
}

@layer components {
  .icon {
    display: inline-block;
    inline-size: 1em;
  }

  a {
    &:where(.framed) {
      padding: var(--space-s);
      border: 2px solid currentColor;
      box-shadow: currentColor -2px 4px;

      &:hover,
      &:active,
      &:focus-visible {
        color: var(--color-lavender-200);
        box-shadow: none;
      }
    }

    &:where(.underline) {
      border-bottom-color: currentColor;

      &:hover,
      &:active,
      &:focus-visible {
        color: var(--color-bg-primary);
        background-color: var(--color-text);
      }
    }
  }

  .site-header-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-block: var(--space-s-m);
    gap: var(--space-s) var(--space-m-l);

    @media (--breakpoint-lg) {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      gap: var(--space-s) var(--space-l);
    }
  }

  .site-logo-link {
    display: flex;
    align-items: center;
    gap: var(--space-s);
    font-size: var(--step-1);
    line-height: 1.3;
    font-family: var(--font-heading);
    text-decoration: none;
    color: currentColor;

    :where(svg) {
      height: 2lh;
      fill: currentColor;
    }

    :where(span) {
      flex-basis: 14rem;
    }
  }

  .site-nav {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex: 1;
    max-width: 100%;
    gap: var(--space-m-l);

    @media (--breakpoint-lg) {
      justify-content: end;
      gap: var(--space-l-xl);
    }

    @media (--breakpoint-xl) {
      gap: var(--space-xl-2xl);
    }

    :where(ul) {
      display: flex;
      align-items: center;
      overflow-x: auto;
      list-style: none;
      gap: var(--space-m-l);

      @media (--breakpoint-lg) {
        overflow-x: unset;
        gap: var(--space-l-xl);
      }

      @media (--breakpoint-xl) {
        gap: var(--space-xl-2xl);
      }
    }

    :where(a.framed) {
      padding: var(--space-3xs) var(--space-xs);
    }
  }

  .hero-banner {
    padding-inline: 0;
    max-height: 250px;
    overflow: clip;
    max-width: unset;
    margin-bottom: var(--space-xl);
  }

  .hero {
    margin-bottom: var(--space-xl);

    :where(.hero-container) {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: var(--space-l);
      border-bottom: 2px solid var(--color-red-400);
      gap: var(--space-m);
      overflow: clip;
    }

    :where(h1) {
      display: flex;
      flex-wrap: wrap;
      flex-shrink: 0;
      gap: var(--space-s-m);
      align-items: center;
      line-height: 1;
      width: fit-content;
    }

    :where(.box-icon) {
      display: flex;
      align-items: end;
      justify-content: center;
      color: var(--color-red-400);
      border: 2px solid currentColor;
      box-shadow: currentColor -4px 6px;
      height: 1.5lh;
      width: 1.5lh;

      :where(svg) {
        height: 75%;
        width: auto;
      }
    }

    :where(.heading-text) {
      line-height: 1;

      > :where(div) {
        line-height: 1.5;
        font-size: var(--step-2);

        @media (--breakpoint-md) {
          font-size: var(--step-3);
        }
      }
    }

    :where(.icon-lines) {
      display: none;

      @media (--breakpoint-md) {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: var(--space-xs);
      }

      :where(.icon-line) {
        display: flex;
        gap: var(--space-xs);

        /* First line. */
        &:where(:first-child) {
          /* Hide the 6th svg and all following it. */
          :where(svg:nth-child(n + 6)) {
            display: none;
          }
        }

        /* Second line. */
        &:where(:nth-child(2)) {
          /* Hide the 4th svg and all following it. */
          :where(svg:nth-child(n + 4)) {
            display: none;
          }
        }

        /* Third line. */
        &:where(:last-child) {
          /* Hide the 2nd svg and all following it. */
          :where(svg:nth-child(n + 3)) {
            display: none;
          }
        }


        :where(svg) {
          color: var(--color-red-400);
          min-width: var(--step-1);
          width: var(--step-1);
          height: var(--step-1);

          /* Show all of the svgs on larger screens. */
          @media (--breakpoint-lg) {
            display: block;
          }
        }
      }
    }
  }

  .cards {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: var(--space-s);

    :where(li) {
      padding: var(--space-s);
      flex-basis: 330px;
      flex-grow: 1;

      border: 2px solid var(--color-red-400);
      box-shadow: var(--color-red-400) -4px 6px;

      :where(section) {
        :where(.h5) {
          background-color: var(--color-red-400);
          color: var(--color-bg-primary);

          text-transform: uppercase;
          font-family: var(--font-main);
          font-weight: bold;
        }

        display: flex;
        flex-direction: column;
        gap: var(--space-s);
      }
    }
  }

  .cta {
    padding: var(--space-xl) 0;
    display: flex;
    align-items: center;
    gap: var(--space-l);
  }

  .events {
    display: flex;
    flex-direction: column;
    background-color: var(--color-lavender-800);
    padding-block: var(--space-xl);

    :where(header) {
      display: flex;
      align-items: center;
      justify-content: space-between;

      padding-bottom: var(--space-l);
    }

    :where(ol) {
      display: flex;
      flex-direction: column;
      gap: var(--space-s);

      list-style: none;

      :where(li) {
        display: flex;

        :where(article) {
          display: flex;
          width: 100%;

          --border: 2px solid var(--color-lavender-400);

          > :where(a) {
            width: var(--space-3xl);
            height: 100%;
            border: unset;

            > :where(.icon) {
              display: flex;
              align-items: center;
              justify-content: center;
              height: 100%;
              width: 100%;

              background-color: var(--color-lavender-400);
              color: var(--color-lavender-800);

              aspect-ratio: 1;

              border: var(--border);
              border-right: none;

              background-size: cover;
              background-position-x: center;

              :where(svg) {
                inline-size: 1.5em;
              }
            }
          }

          :where(.info) {
            display: flex;
            flex-grow: 1;
            justify-content: space-between;
            align-items: center;

            padding: var(--space-xs);
            gap: var(--space-s);

            border: var(--border);
            font-family: var(--font-monospace);
            font-weight: 300;

            :where(h3) {
              font-size: inherit;

              :where(a) {
                font-weight: 700;
              }
            }

            :where(time) {
              font-size: var(--step--1);

              :where(long) {
                display: none;

                @media (--breakpoint-md) {
                  display: unset;
                }
              }

              :where(.short) {
                @media (--breakpoint-md) {
                  display: none;
                }
              }
            }

            :where(.location) {
              display: flex;
              gap: var(--space-xs);

              font-weight: 500;

              :where(.icon) {
                width: var(--step-2);
                height: var(--step-2);
              }
            }
          }
        }
      }
    }
  }

  .site-footer {
    background-image: url('/assets/img/footer-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 4px solid var(--color-red-400);
  }

  .site-footer-inner {
    padding-block: var(--space-m);

    @media (--breakpoint-md) {
      padding-block: var(--space-xl);
    }
  }

  .footer-links {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--space-s-m);
    font-weight: 700;
    font-family: var(--font-monospace);
    font-size: var(--step--1);

    @media (--breakpoint-sm) {
      align-items: start;
      align-content: space-between;
      max-height: calc(2lh + (2 * var(--space-s-m)));
    }

    @media (--breakpoint-lg) {
      max-height: calc(3lh + (3 * var(--space-s-m)));
    }

    :where(li) {
      width: fit-content;

    }
  }
}

@layer utils {
  .red {
    color: var(--color-red-400);
  }
}
