<h2 class="txt-2">TWC Newsletter</h2>
{% assign posts = site.data.newsletter['items'] %}
{% for post in posts limit: 2 %}
  <article class="marg-b-2 flex items-center">
    <img
    src="/assets/img/twc_newsletter.jpg"
    alt="TWC Newsletter"
    class="bg-black circ p-3 marg-r-3 lh-1"
    style="width:72px;height:72px;padding:0"
  />
    <div>
      <div>
        <time datetime="{{ post.date_published | date: '%Y-%m-%d' }}">
          {{ post.date_published | date: '%-d %B %Y' }}
        </time>
      </div>
      <h2>
        <a href="{{ post.url }}">
          {{ post.title }}
        </a>
      </h2>
      {{ post.summary }}
    </div>
  </article>
{% endfor %}
