@import "variables";

header {
  background: white;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  height: 60px;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9;

  a {
    text-decoration: none;
  }
}

.title {
  font-size: 21px;

  @include mobile {
    font-size: 16px;
  }
}

// .supporting-links {
//   li {
//     &:nth-child(3) a {
//       background: #212121;
//       border-radius: 100px;
//       color: #fff;
//       padding: 8px 25px;
//       &:hover {
//         background: #e6141b;
//       }
//     }
//   }

//   // a {
//   //   &:link {
//   //     color: #212121;
//   //   }
//   //   &:visited {
//   //     color: #212121;
//   //   }
//   //   &:hover {
//   //     color: #e6141b;
//   //   }
//   //   &:focus {
//   //     color: #e6141b;
//   //   }
//   //   &:active {
//   //     color: #212121;
//   //   }
//   // }
// }
