@import 'variables';


.home-page {

  .column.is-1 {
    min-width: 200px;
  }

  #home {
    margin: 2em auto;
    span {
      color: #E6141B;
    }
  }

  #learn, #connect {
    &::before {
      display: block;
      content: " ";
      margin-top: -6em;
      height: 6em;
      visibility: hidden;
      pointer-events: none;
    }
  }



}
