$red: rgb(232, 68, 46);
$black: #000;
$white: #fff;
$grey: #222;
$grey2: #444;
$grey3: #f6f6f6;
$black: rgb(2, 14, 15);
$tablet-width: 760px;
$mobile-width: 420px;

@mixin desktop {
  @media screen and (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: #{$mobile-width}) {
    @content;
  }
}
