---
# this ensures Jekyll reads the file to be transformed into CSS later # only Main files contain this front matter, not partials.
---

@import  'variables';
// page/component-specific partials
@import 'header';
@import 'home';

/* layout */
body {
  background-color: $white;
  font-family: 'Avenir', sans-serif;
  font-size: 1.25em;
  letter-spacing: normal;
  margin: 0;
  padding: 0;
}

.columns {
  display: flex;
  flex-wrap: wrap;
}

.columns .column {
  padding: 0 10px;
}

.column.is-1 {
  flex: 1;
}

.column.is-2 {
  flex: 2;
}

.column.is-3 {
  flex: 3;
}

.main-wrapper {
  background-color: $white;
  color: $black;
  margin-bottom: 5em;
  main {
    max-width: 1800px;
    margin: 0 auto;
  }
  a {
    &:link {
      color: #E6141B;
    }
    &:visited {
      color: #E6141B;
    }
    &:hover {
      color: #212121;
    }
    &:focus {
      color: #212121;
    }
    &:active {
      color: #E6141B;
    }
  }

  @include mobile {
    margin-bottom: 1em;
  }

  h1,
  h2,
  h3,
  h4 {
    color: $black;
  }

  h2 {
    text-align: center;
    font-weight: 300;
  }
}

input {
  display: inline-block;
  margin: 10px 0;
}

input[type="submit"] {
  margin-top: 20px;
  font-weight: 500;
  background-color: #212121;
  color: white;
  padding: 10px 20px;
  border-radius: 100px;
  border: none;
  text-transform: uppercase;

  &:hover {
    background-color: #E6141B;
  }
}

main {
  padding: 6em 5em 2em;
  @include mobile {
    padding: 1.5em;
  }
  @include tablet {
    padding-top: 6em !important;
  }
  a {
    font-weight: 500;
    line-height: 1.5em;
  }
}


footer {
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
  background-color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1em 0;

  .columns {
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;

    @include mobile {
      display: block;
    }
  }


  @include mobile {
    position: relative;
    box-shadow: none;
    border-top: 1px #212121 solid;
    ul {
      padding-left: 1em;
    }
  }

  a {
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    &:link {
      color: #212121;
    }
    &:visited {
      color: #212121;
    }
    &:hover {
      color: #E6141B;
    }
    &:focus {
      color: #E6141B;
    }
    &:active {
      color: #212121;
    }
  }
}

h1 {
  font-size: 3em;
  text-align: center;
  /* 16x2.25=36 */
  @include mobile {
    font-size: 1.96875em;
    /* 2.25 * .875 */
  }
}

h2 {
  font-size: 1.5em;
  /* 16x1.5=24 */
  @include mobile {
    font-size: 1em;
    /* 1.5 * .875 */
  }
}

h3 {
  font-size: 1.125em;
  /* 16x1.125=18 */
  @include mobile {
    font-size: 1.09375em;
    /* 1.25 * .875 */
  }
}

h4 {
  font-size: 0.875em;
  font-style: italic;
  /* 16x0.875=14 */
  @include mobile {
    font-size: 0.765625em;
    font-style: italic;
    /* .875 * .875 */
  }
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5em;
}

blockquote,
ol,
p,
ul {
  margin-bottom: 1em;
  line-height: 1.25em;
}

li {
  margin-bottom: 0.375em;
}

.thumbnail {
  position: relative;
  margin-top: 20px;
  padding: 2px;
  background-color: white;
  border: 1px solid grey;
  img {
    width: 100%;
  }
  &:hover {
    .overlay {
      opacity: 0.8;
    }
  }
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: #0d544f;
    .text {
      color: white;
      font-size: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
    }
  }
}

.join-form {
  div {
    padding: 8px 0;
  }
}

.highlight {
  background: yellow;
}
