/* color: http://www.colourlovers.com/palette/3232187/essential_diplomacy.
dark blue: #003635
medium blue: #006466
marine blue: #00C9CF
yellow: #FFF538
orange: #FF8800
black: #000f0f
white: #fffff7
*/

body {
  background-color: #003635;
  color: #fffff7;
}

.main-wrapper {
  background-color: #fffff7;
  color: #000f0f;
}

.callout {
  border: 1px solid #000f0f;
  background-color: #003635;
  color: #fffff7;
  padding: 0 0.5em;
}

.main-wrapper .callout a, .main-wrapper .callout a:link {
  color: #fffff7;
}

h1,
h2,
h3,
h4 {
  color: #FFF538;
}

.main-wrapper h1,
.main-wrapper h2,
.main-wrapper h3,
.main-wrapper h4 {
  color: #003635;
}

a:link { color: #FFF538; }
a:visited { color: #FFF538; }
a:hover { color: #FFF538; }
a:focus { color: #FFF538; }
a:active { color: #FFF538; }

.main-wrapper a:link { color: #003635; }
.main-wrapper a:visited { color: #003635; }
.main-wrapper a:hover { color: #003635; }
.main-wrapper a:focus { color: #003635; }
.main-wrapper a:active { color: #003635; }

/* layout */
body {
  font-family: 'Lil Grotesk', sans-serif;
  font-size: 1.25em;
  letter-spacing: normal;
  margin: 0;
  padding: 0;
}

header,
main,
.footer-content {
  max-width: 768px;
  margin: auto;
  padding: 1em;
}

.main-wrapper {
  width: 100%;
}

h1 { font-size: 2.25em;  /* 16x2.25=36 */ }
h2 { font-size: 1.5em;   /* 16x1.5=24 */ }
h3 { font-size: 1.125em; /* 16x1.125=18 */ }
h4 { font-size: 0.875em; font-style: italic; /* 16x0.875=14 */ }

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5em;
}

p,
ol,
ul,
blockquote {
  margin-bottom: 1em;
  line-height: 1.25em;
}

li {
  margin-bottom: .375em;
}

.header {
  overflow: auto;
}

  #logo {
    background-color: none;
    background-image: url('images/logo.svg');
    float: left;
    font-size: 1.75em;
    line-height: 1em;
    height: 150px;
    margin: 0;
    padding: 0;
    position: relative;
    text-indent: -99999px;
    width: 150px;
  }

    #logo a {
      text-decoration: none;
      padding-top: 1.25em;
      padding-left: .1em;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

  .supporting-links {
    font-size: 1.125em;
    float: right;
    list-style-type: none;
    margin: 0;
  }

    .supporting-links li {
      margin-bottom: 1em;
    }

footer {
  border-top: 1px solid #000f0f;
}

  footer ul {
    list-style-type: none;
    padding: 0;
  }

    footer li {
      display: inline;
    }

      footer li:after {
        content: '/';
        margin-right: .2em;
        margin-left: .2em;
      }

      footer li:last-child:after {
        content: none;
        margin: 0;
      }

@media screen and (max-width: 620px) {
    footer li {
      display: block;
    }

      footer li:after {
        content: '/';
        margin-right: .2em;
        margin-left: .2em;
      }

      footer li:last-child:after {
        content: none;
        margin: 0;
      }
} /* media query: 620 */

@media screen and (max-width: 420px) {
  h1 { font-size: 1.96875em;  /* 2.25 * .875 */ }
  h2 { font-size: 1.3125em;   /* 1.5 * .875 */ }
  h3 { font-size: 1.09375em; /* 1.25 * .875 */ }
  h4 { font-size: 0.765625em; font-style: italic; /* .875 * .875 */ }

  header,
  main,
  .footer-content {
    padding: .75em;
  }

  #logo {
    background-size: cover;
    height: 110px;
    width: 110px;
  }

  .supporting-links {
    font-size: .875em;
  }
} /* media query: 420 */

@font-face {
    font-family: 'Lil Grotesk';
    src: url('/assets/fonts/lil-grotesk/lilgrotesk-bold-webfont.eot');
    src: url('/assets/fonts/lil-grotesk/lilgrotesk-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/lil-grotesk/lilgrotesk-bold-webfont.woff2') format('woff2'),
         url('/assets/fonts/lil-grotesk/lilgrotesk-bold-webfont.woff') format('woff'),
         url('/assets/fonts/lil-grotesk/lilgrotesk-bold-webfont.ttf') format('truetype'),
         url('/assets/fonts/lil-grotesk/lilgrotesk-bold-webfont.svg#lilgroteskbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lil Grotesk';
    src: url('/assets/fonts/lil-grotesk/lilgrotesk-regular-webfont.eot');
    src: url('/assets/fonts/lil-grotesk/lilgrotesk-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/lil-grotesk/lilgrotesk-regular-webfont.woff2') format('woff2'),
         url('/assets/fonts/lil-grotesk/lilgrotesk-regular-webfont.woff') format('woff'),
         url('/assets/fonts/lil-grotesk/lilgrotesk-regular-webfont.ttf') format('truetype'),
         url('/assets/fonts/lil-grotesk/lilgrotesk-regular-webfont.svg#lilgroteskregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
