---
layout: default
---

<div class="rich-text home-page">
  <div id="home">
    <h1>
      <span>Worker</span> power in the tech industry
    </h1>
    <h2>
      Guided by our vision for an inclusive & equitable tech industry, TWC organizes to build worker power through rank & file self-organization and education.
    </h2>
  </div>
  <div id="learn">
    <div class="columns">
      <div class="column is-1">
        <h3>Who we are</h3>
        <p>
          We are a coalition of workers in and around the tech industry, labor organizers, community organizers, and friends.
        </p>
      </div>
      <div class="column is-1">
        <h3>Why we organize</h3>
        <p>
          We organize for activism, civic engagement and education in the Bay Area, Seattle, and across the United States.
        </p>
      </div>
      <div class="column is-1">
        <h3>Who we support</h3>
        <p>
          We work in solidarity with existing movements towards social justice, workers' rights, and economic inclusion.
        </p>
      </div>
    </div>
    <div class="columns">
      <div id="how" class="column is-1">
        <h3>How we work</h3>
        <p>
          We’re a democratically structured, all-volunteer, and worker-led organization. At this point, membership consists of attending meetings in person and working on the various projects that people are interested in. We organize online but IRL is the crux
          of what we do. Check out our <a href="/community-guide">Community Guide</a> for more info.
        </p>
      </div>
    </div>
  </div>
  <div id="connect">
    <h3>Check out a meeting</h3>
    <p>
      We currently have regular meetings in
      <a href="/berlin">Berlin</a>,
      <a href="https://boston.techworkerscoalition.org/">Boston</a>,
      <a href="/dc">DC</a>,
      <a href="/nyc">NYC</a>,
      <a href="/pdx">PDX</a>,
      <a href="/seattle">Seattle</a>,
       and <a href="/sf-bay-area">SF Bay Area</a>.
    </p>
    <h3>Join the discussion & know the latest</h3>
    <ul>
      <li><a href="/subscribe">Slack</a></li>
      <li><a href="/subscribe">Newsletter</a></li>
      <li><a target="_blank" href="https://sites.google.com/view/tech-workers-coalition/learning-club">Learning Club</a></li>
    </ul>
    <h3>TWC on social media</h3>
    <ul id="social">
      <li><a target="_blank" href="https://twitter.com/techworkersco">Twitter</a></li>
      <li><a target="_blank" href="https://www.facebook.com/TechWorkersCoalition">Facebook</a></li>
      <li><a target="_blank" href="https://medium.com/tech-workers-coalition">Medium Blog</a></li>
    </ul>
    <h3>Contact us</h3>
    <p>We’re also happy to chat, answer any questions you might have, or hear about any social justice efforts in which you need a partner. <a href="mailto:hello@techworkersco.org">Send us an email.</a></p>
    <p>If you’re a member of the press, please get in touch with us through <a href="mailto:press@techworkersco.org">press@techworkersco.org.</a></p>
  </div>
  <script src="/assets/js/main.js"></script>
</div>
