---
layout: default
---
<div class="columns">
  <div class="column is-3">
    {{ content }}
  </div>
  <div class="column is-2">
    <div class="thumbnail" >
      <img alt="info sheet thumbnail" src="/assets/img/infosheetthumbnail.png" />
      <a href="https://s3-us-west-1.amazonaws.com/techworkerscoalition.org/assets/files/TWCInfosheet.pdf">
        <div class="overlay">
          <div class="text">
              Download Our Info Sheet
          </div>
        </div>
      </a>
    </div>
    <div class="thumbnail" >
      <img alt="community guide thumbnail" src="/assets/img/communityguidethumbnail.png" />
      <a href="https://s3-us-west-1.amazonaws.com/techworkerscoalition.org/assets/files/TWCCommunityGuide.pdf">
        <div class="overlay">
          <div class="text">
              Download Our Community Guide
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
